@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    80 N Portage Path<br />
    Akron, OH 44303<br />
    <abbr title="Phone">P:</abbr>
    330.992.9766
</address>

<address>
    <strong>Design:</strong> <a href="mailto:bryanthardy1@gmail.com">Bryant Hardy</a><br />
    <strong>Business and Marketing:</strong> <a href="mailto:james.gucwa@gmail.com">Jim Gucwa</a><br />
    <strong>Front End Development:</strong> <a href="mailto:teynon1@gmail.com">Thomas Eynon</a><br />
    <strong>Back End Development:</strong> <a href="mailto:byrondmoran@gmail.com">Byron Moran</a><br />
</address>