
@{
    Layout = null;
}

<div class="feedbackForm">
    <h2>We Encourage Feedback</h2>
    <input type="text" id="feedbackName" placeholder="Your name..." />

    <input type="text" id="feedbackEmail" placeholder="Your email..." />

    <textarea id="feedbackText" placeholder="Your feedback...">

    </textarea>

    <input type="button" class="btn" onclick="com.Feedback.send();" value="Send Feedback" />
</div>