@{
    ViewBag.Title = "Pricing & Plans";
}
<h2>@ViewBag.Title</h2>

Thanks for helping us test FollowThru alpha. The pricing / plans page is set up to give you an idea of how we might charge as well as determine how you would prefer to pay. Thanks for your input!