
@{
    Layout = null;
}

<div class="agreementContact">
    <div class="deleteContact" onclick="com.CreateAgreement.deleteContact(this, @ViewBag.TempID);"></div>
    <div class="contactName">
        @ViewBag.ContactName
    </div>
    <div class="contactPhone">
        @ViewBag.ContactPhone
    </div>
</div>