<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        #body {
            background-image: "Content/images/map.png";
            font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
        }

        #ui {
            float: left;
            width: 80%;
            background-color: #333333;
            padding-right: 1em;
            margin-bottom: 2em;
            border-bottom: groove;
            border-right: groove;
            border-bottom-width: .5em;
            border-right-width: 1em;
        }

        .img {
            padding-top: 1em;
            padding-left: 1em;
        }

        .img2{
            padding-top: 1em;
            padding-left: 1em;
            padding-bottom: 1em;
        }

        .desc {
            padding-left: 4em;
            color: lightgray;
        }

        .tblColMarg {
            padding-left: 1em;
        }

        .h1 {
            color: lightgray;
            text-align: center;
        }

        .h2 {
            width: 99%;
            float:left;
            color: #333333;
            font-weight: bold;
            font-size: 3em;
            text-align: left;
            border-bottom: groove;
            border-bottom-width: .5em;
            margin-right: 5em;
        }

        .navMain {
            float: left;
            width: 15.5em;
            height: 56.7em;
            background-color: #333333;
            text-align: left;
            text-decoration: none;
            margin-bottom: 1em;
            border-bottom: groove;
            border-right: groove;
            border-width: 1em;
        }

        .navMainElement {
            display: block;
            list-style-type: none;
        }

            .navMainElement:hover {
                background-color: lightgreen;
                color: black;
            }

        .navMainTxt {
            display: block;
            padding: 0em 0em;
            color: black;
            text-decoration: none;
            text-align: left;
            margin-bottom: .5em;
            color: grey;
            font-weight: bold;
        }

        #tbl {
            float: left;
            width: 80%;
            background-color: #333333;
            color: lightgray;
            border-bottom: groove;
            border-right: groove;
            border-bottom-width: 1em;
            border-right-width: 1em;
        }

    </style>

</head>
<body id="body">



   
    <h2 class="h2">Features and Functions</h2>


    <div id="ui">


        <div class="img">
            <img src="https://www.cs.kent.edu/~phoerrle/images/zoon.png" style="width: 3em; float: left;" />
            <p class="desc"> Zoom Map inwards <br /> <br /> Zoom Map Outwards </p>
        </div>
        <br />

        <div class="img">
            <img src="Content/images/quick.png" style="width: 3em; float: left;" />
            <p class="desc"> Open Advanced Draw Menu </p>
        </div>
        <br />

        <div class="img">
        <img src="~/COntent/images/toolbar.png" style="width: 3em; float: left;"/>
        <p class="desc"> Use the Polygon option to create your own desired area <br /> <br /> Use this option to select a predefined area in Square format <br /><br /> Use this option to select a predefined area in Circle format </p>
        </div>
        <br />
        <br />

        <div class="img">
            <img src="~/Content/images/calendar.png" style="width: 3em; float: left;" />
            <p class="desc"> Select the desired "From" and "To" date and times </p>
        </div> 

        <div class="img">
            <img src="/Content/images/selection_mode_both.png" style="width: 3em; float: left;" />
            <p class="desc"> Select whether you want Pickups, Dropoffs, or Both displayed in selection area </p>
        </div>

        <div class="img">
            <img src="~/Content/images/selection_type_single.png" style="width: 3em; float: left;" />
            <p class="desc"> Choose from a Single area, Multiple areas, or see where where passengers were picked up and dropped of in a selected area </p>
        </div>

        <div class="img">
            <img src="/Content/images/playback.png" style="width: 3em; float: left;" />
            <p class="desc"> Display the playback bar </p>
        </div>

        <div class="img">
            <img src="~/Content/images/settings.png" style="width: 3em; float: left;" />
            <p class="desc"> Opens up Settings Menu </p>
        </div>

        <div class="img">
            <img src="~/Content/images/share.png" style="width: 3em; float: left;" />
            <p class="desc"> Share current selection options </p>
        </div>

        <div class="img">
            <img src="~/Content/images/clear.png" style="width: 3em; float: left;" />
            <p class="desc"> Remove current selections from map </p>
        </div>

        <br />
        <br />

        <div class="img">
            <img src="~/Content/images/report.png" style="width: 3em; float: left;" />
            <p class="desc"> A visual representation of the data in the selection </p>
        </div>

        <div class="img">
            <img src="~/Content/images/sidebyside.png" style="width: 3em; float: left;" />
            <p class="desc"> Brings up a side by side map for an advanced view of selections </p>
        </div>
</div>

    <nav class="navMain">
        <h1 class="h1">Resources</h1>
        <ul>
            <li class="navMainElement">
                <a class="navMainTxt" href="#">Leaflet</a>
            </li>
            <li class="navMainElement">
                <a class="navMainTxt" href="#">Javascript</a>
            </li>
            <li class="navMainElement">
                <a class="navMainTxt" href="#">MySQL</a>
            </li>
            <li class="navMainElement">
                <a class="navMainTxt" href="#">CanvasJS</a>
            </li>
            <li class="navMainElement">
                <a class="navMainTxt" href="#">Bootstrap</a>
            </li>
        </ul>
    </nav>


</body>
</html>