<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        #body {
            font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
            background-image:url(http://www.cs.kent.edu/~phoerrle/images/ny.jpg);
        }

        #ui {
            width: 65em;
            background-color: #333333;
            margin-bottom: 2em;
            border-bottom: groove;
            border-right: groove;
            border-bottom-width: .5em;
            border-right-width: 1em;
        }

        .img {
            padding-top: 1em;
            padding-left: 1em;
        }

        .img2{
            padding-top: 1em;
            padding-left: 1em;
            padding-bottom: 1em;
        }

        #desc {
            padding-left: 1em;
            color: lightgray;
        }

        .tblColMarg {
            padding-left: 1em;
        }

        .h1 {
            color: lightgray;
            text-align: center;
        }

        .h2 {
            color: #333333;
            font-weight: bold;
            font-size: 3em;
            text-align: left;
            border-bottom: groove;
            border-bottom-width: .5em;
            margin-right: 5em;
        }

        .navMain {
            float: right;
            width: 15em;
            height: 55.78em;
            background-color: #333333;
            display: block;
            overflow: auto;
            text-align: left;
            text-decoration: none;
            margin-bottom: 1em;
            border-bottom: groove;
            border-right: groove;
            border-width: 1em;
        }

        .navMainElement {
            display: block;
            list-style-type: none;
        }

            .navMainElement:hover {
                background-color: lightgreen;
                color: black;
            }

        .navMainTxt {
            display: block;
            padding: 0em 0em;
            color: black;
            text-decoration: none;
            text-align: left;
            margin-bottom: .5em;
            color: grey;
            font-weight: bold;
        }

        #tbl {
            width: 65em;
            background-color: #333333;
            color: lightgray;
            border-bottom: groove;
            border-right: groove;
            border-bottom-width: 1em;
            border-right-width: 1em;
        }

    </style>

</head>
<body id="body">
    <nav class="navMain">
        <h1 class="h1">Resources</h1>
        <ul>
            <li class="navMainElement">
                <a class="navMainTxt" href="#">Leaflet</a>
            </li>
            <li class="navMainElement">
                <a class="navMainTxt" href="#">Javascript</a>
            </li>
            <li class="navMainElement">
                <a class="navMainTxt" href="#">MySQL</a>
            </li>
            <li class="navMainElement">
                <a class="navMainTxt" href="#">D3</a>
            </li>
        </ul>
    </nav>

    <h2 class="h2">Features and Functions</h2>

    <div id="ui">
        <div class="img">
        <img src="http://www.cs.kent.edu/~phoerrle/images/UI.PNG" />
        </div>

        <br />
        <p id="desc">
            Status Bar - Displays aplication status and amount of results once loaded <br />
            Playback Bar - Moves in increments relative to time <br />
            Date Time Picker - Gives User the ability to select From and To (Dates and Times) <br />
            Filter Area Selection - Select from either Pickups, Dropoffs, or both. Displays selected options in desired shape <br />
            Advanced Query Mode - Brings the toolbar for shape selection into view <br />
            Meter Option Box - Allows the User to select the size of the desired shape <br />
            Side by Side - Brings up a second map on the right hand side that can select its own dates and times to compare with the left hand side's data <br />
            Report - Gives Statistics and Visualizations of the data through graphs <br />
            Clear Map - Clears map of all queries <br />
        </p>
    </div>

    <div id="tbl">
        <table>
            <tr>
                <td class="img2"> <img src="http://www.cs.kent.edu/~phoerrle/images/toolbar.PNG" /> </td>
                <td class="tblColMarg"> Zoom Map In<br /> Zoom Map Out<br /><br /> Draw a Polygon<br /> Draw a Square<br /> Draw a Circle<br /> </td>
            </tr>
        </table>
    </div>
</body>
</html>