<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="map">
        <section class="main_hud">
            <div class="main_status hud" id="main_status">
                Ready.
            </div>
            <div class="playback hud">
                <span>Playback:</span>
                <div>
                    <input id="playbackScroller" type="range" min="0" max="100" steps="1" value="0" list="ticks" />
                    <datalist id="ticks">
                        <option value="0">Test</option>
                        <option>10</option>
                        <option>20</option>
                        <option>30</option>
                        <option>40</option>
                        <option>50</option>
                        <option>60</option>
                        <option>70</option>
                        <option>80</option>
                        <option>90</option>
                        <option>100</option>
                    </datalist>
                </div>
                <button id="playbackBtn">Play</button>
            </div>
            <div class="main_overlay hud">
                <section>
                    <div class="dateselect">
                        <label>From</label> <input type="text" name="datestart" id="datestart" value="01/01/2013 12:00:00 am" />
                    </div>
                    <div class="dateselect">
                        <label>to</label> <input type="text" name="dateend" id="dateend" value="01/01/2013 01:00:00 am" />
                    </div>
                    <div>
                        <label>
                            Filter Area Selection:
                        </label>
                            <select id="filterSelection" style="margin-top: -5px; padding: 0px; display:inline;">
                                <option value="pick">Pickups</option>
                                <option value="drop">Dropoffs</option>
                                <option value="both">Pickups & Dropoffs</option>
                            </select>
                    </div>
                    <div>
                        <label style="margin-left:5px">Area Selection Mode:</label>
                        <select id="selectMode" style="margin-top: -5px; padding: 0px; display:inline;">
                            <option value="single">Single</option>
                            <option value="multi">Multi</option>
                            <option value="trip">Trip</option>
                        </select>
                    </div>
                </section>
                <section>
                    <!-- This goes away when they can adjust the width / height via mouse. -->
                    <span>
                        <input type="checkbox" id="draw_selection" value="true"/> <label for="draw_selection">Advanced Query Mode</label>
                    </span>
                    <span id="simpleQueryRange">
                        <input type="number" step="50" id="area" min="1" value="" max="5000" /> meters
                    </span>
                    <button id="sideBySide">Side By Side</button>
                    <button id="btnReport">Report</button>
                    <button id="btnClear">Clear Map</button>
                </section>
            </div>
        </section>

        <section id="sideBySideHud">
            
            <div class="sideBySideMain_Hud hud">
                <section class="hudFlex">
                    <div class="dateselect">
                        <label>From</label> <input type="text" name="datestart" id="sbsdatestart" value="01/01/2013 12:00:00 am" />
                    </div>
                    <div class="dateselect">
                        <label>To</label> <input type="text" name="datestart" id="sbsdateend" value="01/01/2013 1:00:00 am" />
                    </div>
                    <div>
                        <label>
                            Filter Area Selection:
                        </label>
                        <select id="filterSelectionSBS" style="margin-top: -5px; padding: 0px; display:inline;">
                            <option value="pick">Pickups</option>
                            <option value="drop">Dropoffs</option>
                            <option value="both">Pickups & Dropoffs</option>
                        </select>
                    </div>
                    <span>
                        <input type="checkbox" id="lock_view" value="true" /> <label for="lock_view">Lock View</label>
                    </span>
                </section>
            </div>
        </section>
    </div>
    <div id="mapCloneContainer">
        <div id="mapClone" class="mapClone"></div>
    </div>
    <div id="report">
    </div>
</body>
</html>