<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="map">
    </div>
    <div id="mapCloneContainer">
        <div id="mapClone" class="mapClone"></div>
    </div>
    <div id="chartContainer">
    </div>

    <div id="selectChartContainer">
        <select id="selectChart">
            <option value="Average Speed">Average Speed</option>
            <option value="Trips per Selection">Trips per Selection</option>
        </select>
    </div>

    <div class="uiOverlayContainer">
        <section class="headerPanel">
            <div class="main_status hud" id="main_status">
                Ready.
            </div>
        </section>
        <section class="bottomPanel">
            <section id="timerange" onclick="com.capstone.UI.toggleMenuForUIButton(this, 'timespan');">
                <img src="~/Content/images/calendar.png" />
            </section>

            <section id="selectmode" onclick="com.capstone.UI.toggleMenuForUIButton(this, 'typeselect');">
                <img src="~/Content/images/selection_mode_both.png" />
            </section>

            <section id="selecttype" onclick="com.capstone.UI.toggleMenuForUIButton(this, 'modeselect');">
                <img src="~/Content/images/selection_type_single.png" />
            </section>

            <section id="playback" onclick="com.capstone.UI.toggleMenuForUIButton(this, 'playbackhud');">
                <img src="~/Content/images/playback.png" />
            </section>

            <section id="settings" onclick="com.capstone.UI.showSettingsMenu(this, 'settingsMenu', 'settingsMenuTabs');">
                <img src="~/Content/images/settings.png" />
            </section>

            <section id="share">
                <img src="~/Content/images/share.png" />
            </section>

            <section id="btnClear">
                <img src="~/Content/images/clear.png" />
            </section>

            <section id="btnHelp">
                <img src="~/Content/images/help.png" />
            </section>
        </section>

        <section class="bottomRightPanel">
            <section id="reportView">
                <img src="~/Content/images/report.png" />
            </section>

            <section id="sideBySide">
                <img src="~/Content/images/sidebyside.png" />
            </section>
        </section>

        <section class="bottomMiddlePanel" id="sbspanel">
            <section id="timerangesbs" onclick="com.capstone.UI.toggleMenuForUIButton(this, 'timespan');">
                <img src="~/Content/images/calendar.png" />
            </section>

            <section id="selectmodesbs" onclick="com.capstone.UI.toggleMenuForUIButton(this, 'typeselect');">
                <img src="~/Content/images/selection_mode_both.png" />
            </section>

            <section id="sideBySideLocked" class="active">
                <img src="~/Content/images/lock.png" />
            </section>
        </section>


        <div id="playbackhud" class="playbackBox">
            <div class="playback hud">
                <span>Playback:</span>
                <div>
                    <input id="playbackScroller" type="range" min="0" max="100" steps="1" value="0" list="ticks" />
                    <datalist id="ticks">
                        <option value="0">Test</option>
                        <option>10</option>
                        <option>20</option>
                        <option>30</option>
                        <option>40</option>
                        <option>50</option>
                        <option>60</option>
                        <option>70</option>
                        <option>80</option>
                        <option>90</option>
                        <option>100</option>
                    </datalist>
                </div>
                <button id="playbackBtn">Play</button>
            </div>
        </div>

        <div class="timespan hud" id="timespan">
            <div class="dateselect">
                <label>From</label> <input type="text" name="datestart" id="datestart" value="01/01/2013 12:00:00 am" />
            </div>
            <div class="dateselect">
                <label>to</label> <input type="text" name="dateend" id="dateend" value="01/01/2013 01:00:00 am" />
            </div>
        </div>

        <div class="typeselect hud" id="typeselect">
            <label>
                Filter Area Selection:
            </label>
            <select id="filterSelection" style="margin-top: -5px; padding: 0px; display:inline;">
                <option value="pick">Pickups</option>
                <option value="drop">Dropoffs</option>
                <option value="both">Pickups & Dropoffs</option>
            </select>
        </div>

        <div class="modeselect hud" id="modeselect">
            <label style="margin-left:5px">Area Selection Mode:</label>
            <select id="selectMode" style="margin-top: -5px; padding: 0px; display:inline;">
                <option value="single">Single</option>
                <option value="multi">Multi</option>
                <option value="trip">Trip</option>
            </select>
        </div>

        <div class="timespan hud" id="timespansbs">
            <div class="dateselect">
                <label>From</label> <input type="text" name="datestart" id="sbsdatestart" value="01/01/2013 12:00:00 am" />
            </div>
            <div class="dateselect">
                <label>To</label> <input type="text" name="datestart" id="sbsdateend" value="01/01/2013 1:00:00 am" />
            </div>
        </div>

        <div class="typeselect hud">
            <label>
                Filter Area Selection:
            </label>
            <select id="filterSelectionSBS" style="margin-top: -5px; padding: 0px; display:inline;">
                <option value="pick">Pickups</option>
                <option value="drop">Dropoffs</option>
                <option value="both">Pickups & Dropoffs</option>
            </select>
        </div>

        <div class="settingsMenu" id="settingsMenu">
            <div class="tabSection" id="settingsMenuTabs">
                <ul>
                    <li><a href="#settingsTabAppearance">Appearance</a></li>
                    <li><a href="#settingsTabPerformance">Performance</a></li>
                </ul>
                <section id="settingsTabAppearance">
                    <div class="twoCol">
                        <section>
                            <h3>Map Markers</h3>
                            <div class="settingsSection">
                                <header>Pickup Point Border Color:</header>
                                <article><input type="text" class="color" id="PickupColor" value="#007A1F" /></article>
                            </div>
                            <div class="settingsSection">
                                <header>Pickup Point Fill Color:</header>
                                <article><input type="text" class="color" id="PickupFillColor" value="#D8FFE2" /></article>
                            </div>
                            <div class="settingsSection">
                                <header>Pickup Stroke Width:</header>
                                <article><input type="number" min="0" max="20" id="PickupStroke" value="5" /></article>
                            </div>
                            <div class="settingsSection">
                                <header>Dropoff Point Border Color:</header>
                                <article><input type="text" class="color" id="DropoffColor" value="#FF0000" /></article>
                            </div>
                            <div class="settingsSection">
                                <header>Dropoff Point Fill Color:</header>
                                <article><input type="text" class="color" id="DropoffFillColor" value="#FFC0C0" /></article>
                            </div>
                            <div class="settingsSection">
                                <header>Dropoff Stroke Width:</header>
                                <article><input type="number" min="0" max="20" id="DropoffStroke" value="5" /></article>
                            </div>

                        </section>
                        <section></section>

                    </div>
                </section>
                <section id="settingsTabPerformance">
                    Performance Stuff
                </section>
            </div>
        </div>
    </div>

</body>
</html>