body {
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

#map {
    position: absolute;
    top: 50px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    min-height: calc(100% - 60px);
    width: 100%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.main_overlay {
    position: absolute;
    z-index: 1000000000;
    width: 200px;
    height: 50px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f9ff+0,cbebff+47,a1dbff+100&amp;0.4+0,0.4+100;Blue+3D+%2313 */
    background: -moz-linear-gradient(top,  rgba(240,249,255,0.4) 0%, rgba(203,235,255,0.4) 47%, rgba(161,219,255,0.4) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,249,255,0.4)), color-stop(47%,rgba(203,235,255,0.4)), color-stop(100%,rgba(161,219,255,0.4))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(240,249,255,0.4) 0%,rgba(203,235,255,0.4) 47%,rgba(161,219,255,0.4) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(240,249,255,0.4) 0%,rgba(203,235,255,0.4) 47%,rgba(161,219,255,0.4) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(240,249,255,0.4) 0%,rgba(203,235,255,0.4) 47%,rgba(161,219,255,0.4) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(240,249,255,0.4) 0%,rgba(203,235,255,0.4) 47%,rgba(161,219,255,0.4) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66f0f9ff', endColorstr='#66a1dbff',GradientType=0 ); /* IE6-9 */

    border: 1px solid #000000;
    border-radius: 5px;
    left: 5px;
    bottom: 5px;
}