body {
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

#map {
    position: absolute;
    top: 50px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    min-height: calc(100% - 60px);
    width: 100%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.main_overlay {
    position: absolute;
    display: flex;
    flex-direction: row;
    padding: 10px;
    z-index: 1000000000;
    min-width: 200px;
    max-width: 50%;
    min-height: 50px;
    background: rgba(0, 148, 255, 0.4);
    border: 1px solid #000088;
    border-radius: 5px;
    left: 5px;
    bottom: 5px;
    cursor: default;
    justify-content: space-around;
}

.main_overlay > button {
    margin-left: 10px;
}

.main_overlay > button:first-child {
    margin-left: 0px;
}