html {
    height: 100%;
}

body {
    height: 100%;
    padding-top: 50px;
    position: relative;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

#map {
    position: absolute;
    top: 50px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
}

#mapCloneContainer {
    display: none;
    position: absolute;
    top: 50px;
    right: 0px;
    bottom: 0px;
    width: 0%;
    background-color: #EEEEEE;
}

.mapClone {
    position: relative;
    width: 100%;
    height: 100%;
    border-left: 5px dashed #000000;

}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.hud {
    padding: 10px;
    min-width: 200px;
    background: #000000;
    color: #FFFFFF;
    border: 1px solid #000088;
    border-radius: 5px;
    cursor: default;
}

.main_hud {
    position: absolute;
    padding: 10px;
    z-index: 1000;
    width: calc(50vw - 20px);
    min-height: 40px;
    left: 5px;
    bottom: 5px;
    cursor: default;
}

.main_overlay {
    padding: 10px;
    z-index: 1000;
    min-width: 200px;
    min-height: 40px;
    background: #80aed9;
    border: 1px solid #000088;
    border-radius: 5px;
    left: 5px;
    bottom: 5px;
    cursor: default;
}

.main_overlay > section {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: 5px;
}

.dateselect {
    margin-left: 5px;
}

.dateselect:first-child {
    margin-left: 0px;
}

.main_overlay > section:last-child {
    margin-bottom: 0px;
}

.main_overlay input[type=text] {
    width: 125px;
    font-size: 11px;
    padding: 0px 2px;
    background-color: #80aed9;
    border: 1px solid #000000;
    color: #FFFFFF;
}

.main_overlay input[type=number] {
    width: 36px;
}

.main_overlay > button {
    margin-left: 10px;
}

.main_overlay > button:first-child {
    margin-left: 0px;
}

#area {
    width: 70px;

}

#draw_selection, #lock_view {
    vertical-align: middle;
    margin: 0px 0px 0px 0px;
}

.leaflet-label {
    width: auto;
    font-size: 11px;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.70);
    border-radius: 4px;
    white-space:nowrap;
    padding: 2px;
}

#sideBySideHud {
    position: absolute;
    padding: 10px;
    z-index: 1000;
    width: calc(50vw - 20px);
    right: 5px;
    bottom: 5px;
    cursor: default;
    display: none;
}

.sideBySideMain_Hud {
    background: #80aed9;
}

.hudFlex {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: 0px;
}

.hudFlex input[type=text] {
    width: 125px;
    font-size: 11px;
    padding: 0px 2px;
    background-color: #80aed9;
    border: 1px solid #000000;
    color: #FFFFFF;
}

#chartWrapper {
    position: absolute;
    right: 0px;
    bottom: 0px;
    top: 50px;
    height: vh-50px;
    width: 50%;
    background: #EEEEEE;
    display: none;
    overflow-y: auto;
}

#chartContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#chartContainer > h1 {
    font-size: 32px;
    margin: 0px 0px 5px 0px;
    padding: 0px;
}

#selectChartContainer {
    text-align: right;
}


section.bottomPanel {
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 2000;
}

section.bottomPanel > section {
    background-color: #162330;
    padding: 4px;
    border-radius: 4px 4px 0px 0px;
    margin-left: 4px;
    cursor: pointer;
    float: left;
}

section.bottomRightPanel {
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 2000;
}

section.bottomRightPanel > section {
    background-color: #162330;
    padding: 8px 6px 8px 10px;
    border-radius: 8px 0px 0px 8px;
    margin-bottom: 4px;
    cursor: pointer;
}

section.bottomMiddlePanel {
    position: absolute;
    left: calc(50vw + 5px);
    width: calc(50vw - 5px);
    bottom: 0;
    z-index: 2000;
    display: none;
}

section.bottomMiddlePanel > section {
    background-color: #162330;
    padding: 4px;
    border-radius: 4px 4px 0px 0px;
    margin-left: 4px;
    cursor: pointer;
    float: left;
}

section.headerPanel {
    position: absolute;
    width: 100%;
    margin: 0px auto;
    top: 10px;
    z-index: 1000;
}

section.graphPanel {
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 2000;
}

section.graphPanel > section {
    background-color: #162330;
    padding: 4px;
    border-radius: 4px 4px 0px 0px;
    margin-left: 4px;
    cursor: pointer;
    float: right;
}

.main_status {
    padding: 10px;
    margin-bottom: 4px;
    width: 50%;
    background: #000000;
    color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: default;
    margin: 0px auto;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0.81+0,0.65+100;Neutral+Density */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.81) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.81)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.81) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.81) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.81) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.81) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cf000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
    text-align: left;
}

.timespan {
    display: none;
    border: 1px solid #000000;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0.81+0,0.65+100;Neutral+Density */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.81) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.81)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.81) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.81) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.81) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.81) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cf000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

.timespan > .dateselect {
    float: left;
}

.typeselect {
    display: none;
    border: 1px solid #000000;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0.81+0,0.65+100;Neutral+Density */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.81) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.81)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.81) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.81) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.81) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.81) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cf000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

.modeselect {
    display: none;
    border: 1px solid #000000;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0.81+0,0.65+100;Neutral+Density */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.81) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.81)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.81) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.81) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.81) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.81) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cf000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

.graphlist {
    display: none;
    border: 1px solid #000000;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0.81+0,0.65+100;Neutral+Density */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.81) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.81)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.81) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.81) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.81) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.81) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cf000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

.playbackBox {
    display: none;
}

.playback {
    border: 1px solid #000000;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0.81+0,0.65+100;Neutral+Density */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.81) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.81)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.81) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.81) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.81) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.81) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cf000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    min-width: 300px;
}

.playback span {
    flex-grow: 0;
}

.playback div {
    flex-grow: 1;
    text-align: center;
    padding: 0px 15px;
}

.playback div > input[type=range] {
    width: 100%;
    max-width: unset;
}

.activeUI {
    background-color: #dc432f !important;
}

.ui-dialog {
    z-index: 10000 !important;
}

.ui-front {
    z-index: 9999 !important;
}

.twoCol {
    display: flex;
    flex-direction: row;
}

.twoCol > section {
    flex: 1;
    min-height: 50px;
    margin: 2px;
    background-color: #EEEEEE;
    border-radius: 5px;
}

.twoCol h3 {
    margin:0px;
    padding: 6px;
    color: #EEEEEE;
    background-color: #555555;
    border-radius: 5px 5px 0px 0px;
}

.settingsSection {
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
}

.settingsSection > header {
    font-weight: bold;
    font-size: 14px;
    flex: 1;
}

.settingsSection > article {
    flex: 1;
}

.settingsSection > article > input[type=text] {
    font-size: 12px;
}
.settingsSection > article > input[type=number] {
    font-size: 12px;
}

.settingsSection > article > input.color {
    max-width: 60px;
}

.settingsMenu {
    display: none;
}

.uiOverlayContainer {
    position: absolute; 
    left: 0; 
    top: 50px;
    right: 0;
    bottom: 0;
    z-index: 0; 
    pointer-events: none;
}

.uiOverlayContainer * {
    pointer-events: all;
}

#reportContainer {
    clear: both;
}

#chartView {
    flex-grow: 1;
    margin-top: 0px;
    border-top: 1px solid #DDDDDD;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: rgba(0,0,0,0.65);
}

#chartView div {
    flex-grow: 1;
    margin: 2px;
    min-width: 40%;
}

#menuContainer {
    position: fixed;
    height: calc(100vh - 50px);
    z-index: 9999;
}
