.tutorialEy {
    flex-direction: row;
    align-content: stretch;
    min-width: 600px;
    min-height: 200px;
    border: 1px solid #000000;
    background: #666666;
    
}
.tutorialEySectionList {
    min-width: 150px;
    max-width: 200px;
    border-right: 1px solid #000000;
}

.tutorialEySectionList > div {
    padding: 4px;
    background: #EEEEEE;
    cursor: pointer;
}

.tutorialEySectionList > div:nth-child(2n+1) {
    background: #FFFFFF;
}

.tutorialEySectionList > div.tutorialEyActive {
    background-color: #ff0000 !important;
}

.tutorialEyActiveStep {
    min-width: 200px;
    flex: 1;
    display: flex;
    align-content: stretch;
    flex-direction: column;
}

.tutorialEySectionHeader {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    background: #000000;
    padding : 4px;
    display: flex;
    flex-direction: row;
}

.tutorialEySectionTitle {
    flex: 1;
}

.tutorialEyClose {
    padding: 0px 4px;
    cursor: pointer;
}

.tutorialEyActiveStepTitle {
    background: #AAAAAA;
    padding: 5px;
    line-height: 20px;
}

.tutorialEyActiveStepBody {
    flex: 1;
    padding: 5px;
    color: #FFFFFF;
    line-height: 20px;
}

.tutorialEyButtons {
    flex: 1;
    max-height: 40px;
    background: #00FF00;
    display: flex;
    flex-direction: row;
    align-content: stretch;
}

.tutorialEyButtons > button {
    flex: 1;
    background: #000000;
    color: #FFFFFF;
    border: 1px solid #0000FF;
    border-left: none;
}

.tutorialEyButtons > button:first-child {
    border-left: 1px solid #0000FF;
}

.tutorialEyStepList {
    border-left: 1px solid #000000;
    color: #FFFFFF;
    background: #000000;
    min-width: 200px;
    flex: 1;
    min-width: 150px;
    max-width: 200px;
}

.tutorialEyStepList > div {
    padding: 4px;
    background: #EEEEEE;
    color: #000000;
    cursor: pointer;
}

.tutorialEyStepList > div:nth-child(2n+1) {
    background: #FFFFFF;
}

.tutorialEyStepList > div.tutorialEyActive {
    background-color: #ff0000 !important;
}